* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(173, 35, 38, .4);
}

#start-stop {
    position: fixed;
    top: 2px;
}