* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(255);
}

#buttons {
    position: fixed;
    bottom: 10px;
}

#sliders {
    position: fixed;
    right: 20px;
}
